
.signInPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 10px;
}
.signInTitle {
  font-size: 2rem;
  margin: 10px;
}

.signInButton  {
  margin: 10px;
  color: red;
}

