.navigation { 
    height: 70px; 
    width: 100%; 
    display: flex; 
    justify-content: space-between; 
    background-color: #0EBFE9;
    padding: 3em;
    contain: content;
  }
    
.logo-container { 
  height: 100%; 
  width: 70px; 

  }
  
.nav-links-container { width: 50%; 
  height: 100%; 
  display: flex; 
  align-items: center; 
  justify-content: flex-end; 
  
  .nav-link { padding: 10px 15px; 
    cursor: pointer; }
}
.headerLogo {
  height: 4em;
  border: .1em solid #021a40;
  margin-top: -2em;
}
