
.deliveryPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:100%;
  width: 100%;
  background: url('../../assets/images/DeliveryPage/sky.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
.deliveryCard {
  justify-content: center;
  align-items: center;
    width: 88%;
    margin: 50px auto;
    padding: 20px;
    background: white;
    -moz-box-shadow: 0 0 20px black;
    -webkit-box-shadow: 0 0 20px black;
    box-shadow: 0 0 20px black;
    box-shadow: 0 15px 30px black;
    border-radius: 3%;
}
.deliveryText {
  padding-top: .5em;
}
.deliveryText h1 {
  font-size: 2.5em;
  font-weight: bold;
  color: #00bcd4;
}
.deliveryImage {
  width: 100%;
  height: 100%;
  border: 2px solid black;
  -moz-box-shadow: 0 0 20px black;
  -webkit-box-shadow: 0 0 20px black;
  box-shadow: 0 0 20px black;
  box-shadow: 0 15px 30px black;
}
