.processPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../../assets/images/processPage/construction.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.panelCard {
  color: white;
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5em;
  width: 40%;
  margin: 50px auto;
    background: black;
    -moz-box-shadow: 0 0 20px black;
    -webkit-box-shadow: 0 0 20px black;
    box-shadow: 0 0 20px black;
    box-shadow: 0 15px 30px black;
}
.processImage {
  width: 70%;
  position: relative;
  margin-bottom: 2em;
  background: black;
  -moz-box-shadow: 0 0 10px white;
  -webkit-box-shadow: 0 0 10px white;
  box-shadow: 0 0 10px white;
  box-shadow: 0 8px 15px white;
}
.processTitle{
  color:black;
  font-size: larger;
}



